html, body {
	font-family: 'Trebuchet MS', sans-serif
}

html {
	background: #0f4970 url('../images/worldmap.png') no-repeat fixed 50% 0;
}

body {
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase
}

.help {
	font-style: italic;
}

.meta-cr {
	font-size: .8rem;
}

.media {
	.media-left {
		.fas {
			$size: 2rem;
			text-align: center;
			font-size: $size;
			color: #fff;
			width: ($size * 2);
			height: ($size * 2);
			border-radius: 50%;
			line-height: ($size * 2);
			background-color: hsl(217, 71%, 53%);
		}
	}
}